body {
    font-family: "Be Vietnam Pro", sans-serif;
    background: linear-gradient(109.6deg, rgb(20, 30, 48) 11.2%, rgb(36, 59, 85) 91.1%);
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}

h1 {
    color: #ffffff;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
    font-weight: 900;
}
.info-text p {
    color: #ffffff;
    padding: 20px;
    text-align: center; 
    text-justify: inter-word; 
    width: 80%; 
    margin: 0 auto; 
    border: 1px solid transparent; }

table {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: #ffffff;
}

th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid rgb(0, 0, 0);
}

input[type="text"] {
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
}
.main{
    display: flex;
    flex-direction: column;
}
.header, .content{
    color: #e5e0eb;
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 64px;
    justify-items: center;
}

.header div textarea {
    width: 800px;
    max-width: 800px;
    min-width: 800px;
    border-radius: 12px;
    border: 1px solid white;
    background: rgba(256, 256, 256, 1);
    height: 48px;
    min-height: 48px;
    padding: 12px 28px;
}

.header div textarea:focus{
    outline: none;
}


.content div textarea{
    width: 800px;
    max-width: 800px;
    min-width: 800px;
    border-radius: 12px;
    border: 1px solid white;
    background: rgba(255, 255, 255, 1);
    height: 48px;
    min-height: 48px;
    padding: 12px 28px;
}

textarea:focus{
    border: 1px solid white;
}



